/public/img/banners/banner-apoc.jpg
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

/public/css/frontend.css
/public/css/frontend.css.map
/public/css/backend.css
/public/css/backend.css.map
/public/js/frontend.js
/public/js/frontend.js.map
/public/js/backend.js
/public/js/backend.js.map

.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.idea
.project
_ide_helper.php
composer.phar
/resources/views/frontend/index_backup.blade.php
error.log
Todo.rtf
/resources/assets/js/plugin/youplay
/resources/assets/sass/frontend/youplay-light.scss
/resources/assets/sass/frontend/_variables-shooter.scss
/resources/assets/sass/frontend/youplay-shooter.scss
/resources/assets/sass/frontend/_variables-anime.scss
/resources/assets/sass/frontend/_includes.scss
/resources/assets/sass/frontend/youplay.scss
/resources/assets/sass/frontend/_variables.scss
/resources/assets/sass/frontend/_variables-light.scss
/resources/assets/sass/frontend/youplay-anime.scss
/resources/assets/sass/frontend/_helpers.scss
/resources/assets/sass/frontend/parts
.vagrant