.youplay-instagram {
    margin-top: -15px;

    > div {
        padding-top: 30px;
    }
    &.small-gap {
        margin-left: -10px;
        margin-right: -10px;
        margin-top: -10px;
        > div {
            padding-top: 20px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
