/*------------------------------------------------------------------

  Pricing Table

-------------------------------------------------------------------*/
.pricing-table {
    list-style: none;
    padding: 0 0 20px;
    margin: 0 0 15px;
    background: rgba($text_color, 0.05);
    text-align: center;
    -webkit-transition: 300ms background-color;
    transition: 300ms background-color;

    &:hover {
        background-color: rgba($text_color, 0.07);
    }

    li {
        position: relative;
        padding: 20px 25px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 10%;
            display: block;
            width: 80%;
            height: 1px;
            background-color: rgba($text_color, 0.05);
        }
    }

    li.plan-price {
        font-size: 2.5rem;
        font-weight: bold;
    }

    li.plan-price:before,
    li.plan-name:before,
    li.plan-action:before {
        content: none;
    }

    li.plan-name {
        padding: 30px;
        font-size: 24px;
        line-height: 24px;
        background: rgba($text_color, 0.05);
        margin-bottom: 30px;
    }

    li > strong {
        color: $main_color;
    }

    li.plan-action {
        margin-top: 10px;
    }
}
